# Build
build/
*.o
*.out
*.exe

# Python
.venv/
__pycache__/
python/temp/*
*.pyc

# Data
*.json
*.csv
*.txt
*.gif

# IDE
.vscode/
.idea/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile