# Build
build/
*.o
*.out
*.exe

# Python
.venv/
__pycache__/
python/temp/*
*.pyc

# Data
outputs/
*.json
*.csv
*.gif

# IDE
.vscode/
.idea/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile